<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jonathanhuang/jonathanhuang/zoom</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>232568D3-74B4-487E-8971-004B7D1C4FCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2911939A-5245-4051-959E-A5A9C7957490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41FA13D0-77E0-4B33-AFC7-D3623D2D10A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCDDD708-4916-40AC-A35F-62D9C78B3B59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</key>
		<array/>
		<key>CCDDD708-4916-40AC-A35F-62D9C78B3B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA36CDBB-EF8E-4650-8421-3C002B14D2D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4EFA47F7-5B38-47F2-9564-E36D31D48E9F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E018E57-C4D8-4ABF-A3A9-773C42652564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3E67148-93FE-4DFA-8A50-3572DBBDBE84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41FA13D0-77E0-4B33-AFC7-D3623D2D10A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC9428B8-E195-47FE-8209-E215661D4CA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1968A94-5D33-495C-8B00-9146F5311799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC9428B8-E195-47FE-8209-E215661D4CA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jonathan Huang</string>
	<key>description</key>
	<string>Join or start a zoom.us meeting.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom.us</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>https://zoom.us/j/</string>
				<key>subtext</key>
				<string>Join a meeting</string>
				<key>text</key>
				<string>Open Zoom.us directly ...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>232568D3-74B4-487E-8971-004B7D1C4FCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./alfred-zoomus.js "join"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC9428B8-E195-47FE-8209-E215661D4CA3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zm join</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Join a meeting...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2911939A-5245-4051-959E-A5A9C7957490</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copied zoom url to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BA36CDBB-EF8E-4650-8421-3C002B14D2D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zm create</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create zoom meeting</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E3E67148-93FE-4DFA-8A50-3572DBBDBE84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./alfred-zoomus.js "create" $PMID</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41FA13D0-77E0-4B33-AFC7-D3623D2D10A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4EFA47F7-5B38-47F2-9564-E36D31D48E9F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CCDDD708-4916-40AC-A35F-62D9C78B3B59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Failed to copy zoom link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3E018E57-C4D8-4ABF-A3A9-773C42652564</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Workflow for Zoom.us

This workflow allows you to create or join a Zoom meeting. It's also an example of how to use JXA to script.

Variables
- PMID: Personal Meeting ID; unused at the time but provides an example on how to pass environment variables to script

by Jonathan Huang</string>
	<key>uidata</key>
	<dict>
		<key>232568D3-74B4-487E-8971-004B7D1C4FCE</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>2911939A-5245-4051-959E-A5A9C7957490</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>3E018E57-C4D8-4ABF-A3A9-773C42652564</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>41FA13D0-77E0-4B33-AFC7-D3623D2D10A0</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BA36CDBB-EF8E-4650-8421-3C002B14D2D8</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>CCDDD708-4916-40AC-A35F-62D9C78B3B59</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>E3E67148-93FE-4DFA-8A50-3572DBBDBE84</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>EC9428B8-E195-47FE-8209-E215661D4CA3</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F1968A94-5D33-495C-8B00-9146F5311799</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PMID</key>
		<string>https://us04web.zoom.us/j/4132491233?pwd=TmkzdVBJOVgvRG5PYUhFUXhxUk1wdz09</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
